html {
  font-size: 62.5%;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  height: 60px;
}

a {
  text-decoration: none;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.nav-rigth {
  width: 250px;
  height: auto;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-rigth a {
  margin: 0 16px;
  color: #000;
}

.nav-rigth__menu-icon {
  background-image: url('https://static.thenounproject.com/png/756729-200.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.nav-rigth__profile-photo img {
  border-radius: 50%;
  margin: 0 0 0 10px;
}

main {
  margin-top: 150px;
  text-align: center;
}

.main-logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.main-logo img {
  width: 300px;
}

.main-input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
  border: 1px solid #dfe1e5;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-input input {
  width: 450px;
  height: 40px;
  outline: none;
  border: none;
}

.main-input:hover {
  box-shadow: 0 1px 6px 0 #20212417;
  border-color: #dfe1e500;
}

.main-input__search-icon {
  background-image: url('https://img.icons8.com/android/24/000000/search.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.main-input__micro-icon {
  background-image: url('https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;

}

.button-container {
  display: inline-block;
}

.button-container button {
  height: 36px;
  background-color: #f2f2f2;
  border: none;
  font-size: 1.4rem;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}

.button-container button:hover {
  border: 1px solid #dadce0;
}

.footer {
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: #f2f2f2;
  border: 1px solid #dadce0;
}

.footer ul {
  padding-left: 0;
  margin: 10px;
  list-style: none;
  display: flex;
}

.footer__left {
  justify-self: left;
}

.footer__rigth {
  justify-self: right;
}

.footer a {
  margin: 10px;
  color: #5f6368;
}